div[data-status="0"],div[data-status="1"],div[data-status="2"]{
    background-color: rgb(137, 199, 173);
    padding: 0 0 0 10px;
    margin: 3px;
    font-size: 20px;
}

div[data-status="1"]{
    background-color: rgb(187, 4, 4);
}
div[data-status="2"]{
    background-color: rgb(0, 167, 0);
}

#kub1,#kub2,#kub3,#kub4,#kub5{
    cursor: pointer;
    width: 20px;
}

#poinsScored{
    font-size: 30px;
    color: rgb(157 157 157);
    text-shadow: -1px -1px 0px black, 0 0 1em white, -1px -2px 2px blue;
}

#numPlayer{
    font-size: 30px;
    color: rgb(105, 105, 105);
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

#score{
    font-size: 30px;
    color: rgb(105, 105, 105);
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;  
}
.scorePlayer{
    font-weight:bold;
}

table td {
	padding: 20px;
	border: 1px solid black;
}
tr{
    border: 1px solid black;
    width: 100%;
}


