div[data-status="0"],div[data-status="1"],div[data-status="2"]{
    padding: 0 0 0 10px;
    margin: 3px;
    font-size: 0px;
}


div[data-status="1"]{
    background-color: rgb(187, 4, 4);
    animation-name: blinker;
    animation-iteration-count: infinite;
    
    animation-duration: 1s;
}
@keyframes blinker {
    from { background-color: rgb(15, 11, 248);; }
    to { opacity: 0.40; }
  }
div[data-status="2"]{
    background-color: rgb(0, 167, 0);
}

#bones{
    display: flex;
    
}
#kub1,#kub2,#kub3,#kub4,#kub5{
    cursor: pointer;
    position: absolute;
    width: 20px;
    width: 115px;
    height: 127px;
    border-radius: 21px;
    opacity: 0.2;
}

#kub1 {
    left: 7px;
    top: 6px;
}
#kub2{
    left: 134px;
    top: 7px;
}

#kub3{
    left: 263px;
    top: 7px;
}
#kub4{
    left: 391px;
    top: 7px;
}
#kub5{
    left: 519px;
    top: 7px;
}

#poinsScored{
    font-size: 30px;
    color: rgb(157 157 157);
    text-shadow: -1px -1px 0px black, 0 0 1em white, -1px -2px 2px blue;
}

#countPlayer{
    font-size: 25px;
    color: rgb(105, 105, 105);
    text-shadow: 1px 1px 2px rgb(0, 255, 128), 0 0 1em blue, 0 0 0.2em blue;
}

#score{
    font-size: 25px;
    color: rgb(105, 105, 105);
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;  
}
.scorePlayer{
    font-weight:bold;
}

table td {
	padding: 20px;
	border: 1px solid black;
}
tr{
    border: 1px solid black;
    width: 100%;
}


